name: "游댣 Build"

on:
  workflow_dispatch:
    inputs:
      testOnly:
        description: "Run tests only?"
        required: true
        type: boolean
        default: false
  workflow_call:
    inputs:
      testOnly:
        description: "Run tests only?"
        type: boolean
        default: false

concurrency: "build"

jobs:
  install:
    runs-on: ubuntu-latest
    steps:
      - name: "游닌 Checkout code"
        uses: actions/checkout@v4

      - name: "游댢 Setup node"
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "yarn"

      - name: "游닍 Install dependencies"
        uses: ./.github/actions/install

  lint:
    runs-on: ubuntu-latest
    needs: [ install ]
    steps:
      - name: "游닌 Checkout code"
        uses: actions/checkout@v4

      - name: "游댢 Setup node"
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "yarn"

      - name: "游닍 Install dependencies"
        uses: ./.github/actions/install

      - name: "游댣 Lint"
        run: yarn lint

  test:
    runs-on: ubuntu-latest
    needs: [ install ]
    if: false
    steps:
      - name: "游닌 Checkout code"
        uses: actions/checkout@v4

      - name: "游댢 Setup node"
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "yarn"

      - name: "游닍 Install dependencies"
        uses: ./.github/actions/install

      - name: "游댣 Test"
        run: ${{ env.NX }} affected -t test

  storybooks:
    runs-on: ubuntu-latest
    needs: [ install ]
    if: false
    steps:
      - name: "游닌 Checkout code"
        uses: actions/checkout@v4

      - name: "游댢 Setup node"
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "yarn"

      - name: "游닍 Install dependencies"
        uses: ./.github/actions/install

      - name: "游댣 Build storybooks"
        run: yarn build-storybook

  build:
    runs-on: ubuntu-latest
    needs: [ install ]
    if: ${{ github.event.inputs.testOnly == 'false' }}
    steps:
      - name: "游닌 Checkout code"
        uses: actions/checkout@v4

      - name: "游댢 Setup node"
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "yarn"

      - name: "游닍 Install dependencies"
        uses: ./.github/actions/install

      - name: "游눻 Restore .next/cache cache"
        uses: ./.github/actions/next-cache

      - name: "游댣 Build"
        run: yarn build
